* {
  --cardShadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  --colorPrimary: #f56b1d;
  --colorSecondary: #f56b1d;
  --colorBackground: #18191a;
  --colorCard: #242526;
  --colorHover: #3a3b3c;
  --colorPrimaryText: #e4e6eb;
  --colorSecondaryText: #b0b3b8;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--colorBackground);
}

body,
h1,
input::placeholder {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#container {
  color: var(--colorPrimaryText);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  gap: 50px;
}

#landingHeader {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  margin-top: 120px;
}

#landingHeader #landingHeaderTitle {
  max-width: 85%;
  font-size: 28px;
}

#landingHeaderTitleMTG {
  color: var(--colorPrimary);
}

#landingHeader p,
.cardDescription {
  color: var(--colorSecondaryText);
  font-weight: 400;
  font-size: .8rem;
  max-width: 80%;
}

#landingKeywords {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 4px;
}

#searchBar {
  display: flex;
  justify-content: center;
}

#searchBar button {
  width: 15vw;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--colorPrimary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  float: left;
  box-shadow: var(--cardShadow);
}

#searchBar button:hover {
  background-color: var(--colorSecondaryText);
}

#searchBar input {
  width: 70vw;
  padding: 10px;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--colorHover);
  float: left;
  color: var(--colorPrimaryText);
  box-shadow: var(--cardShadow);
  font-size: 14px;
}

#searchBar input:focus {
  outline: 1px solid var(--colorSecondaryText);
}

#searchIcon {
  width: 1.6rem;
  height: 1.6rem;
}

#searchBar button,
#searchBar input {
  border: none;
  height: 54px;
}

/*flexes card classes*/
#cardHolder {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px;
}

#container #cardHolder .hidden{
  display: none;
}

#container #cardHolder .visible{
  display: flex;
}

.card {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--colorCard);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: .2rem;
  gap: 10px;
  box-shadow: var(--cardShadow);
}

.card .cardTitle {
  font-size: 20px;
}

.card .cardDescription {
  text-align: left;
  font-size: 16px;
}

.cardLineBreak {
  border: 1px inset var(--colorBackground);
}

.cardLineBreak {
  width: 200px;
}

@media (min-width:769px) and (max-width:1024px) {
  #landingHeader {
    margin-top: 275px;
  }

  #landingHeader #landingHeaderTitle {
    width: 95vw;
    font-size: 36px;
  }

  #cardHolder {
    width: 97vw;
  }

  .card {
    max-width: 250px;
  }

  .card .cardTitle {
    font-size: 18px;
  }

  .card .cardDescription {
    text-align: left;
    font-size: 14px;
  }

  #searchBar input {
    width: 480px;
    padding: 10px;
    font-size: 13px;
  }

  #searchBar button {
    width: 50px;
  }
}

@media (min-width:1025px) {
  #container {
    height: 100vh;
    color: var(--colorPrimaryText);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
  }

  #landingHeader {
    margin-top: 275px;
  }

  #landingHeader #landingHeaderTitle {
    width: 95vw;
    font-size: 36px;
  }

  #landingHeader p,
  .cardDescription {
    color: var(--colorSecondaryText);
    font-weight: 400;
    font-size: .8rem;
    max-width: 80%;
  }

  #landingKeywords {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-bottom: 4px;
  }

  #cardHolder {
    width: 80vw;
    column-gap: 5px;
    row-gap: 10px;
  }

  .card {
    max-width: 250px;
  }

  .card .cardTitle {
    font-size: 18px;
  }

  .card .cardDescription {
    text-align: left;
    font-size: 14px;
  }

  #searchBar input {
    width: 480px;
    padding: 10px;
    font-size: 13px;
  }

  #searchBar button {
    width: 50px;
  }

  #searchBar button,
  #searchBar input {
    height: 54px;
  }
}