:root {
  --cardShadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  --colorPrimary: #f56b1d;
  --colorSecondary: #f56b1d;
  --colorBackground: #18191a;
  --colorCard: #242526;
  --colorCardTwo: #1d1d1d;
  --colorHover: #3a3b3c;
  --colorPrimaryText: #e4e6eb;
  --colorSecondaryText: #b0b3b8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*When no media query is active, the style is made for mobile screenwidth*/
body {
  background-color: var(--colorBackground);
}

body,
h1,
input::placeholder {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Flex landingHeader and landingKeywords*/
#container {
  color: var(--colorPrimaryText);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  gap: 50px;
}

/*Styling for landingHeader and all elements flexed by it, the name h1 and the paragraph below */
#landingHeader {
  /*Disable text selection for h1*/
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;

  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  margin-top: 120px;
}

#landingHeader #landingHeaderTitle {
  max-width: 85%;
  font-size: 28px;
}

#landingHeaderTitleMTG {
  color: var(--colorPrimary);
}

/*Styling for both the paragraph below the header, and the card descriptions*/
#landingHeader p{
  color: var(--colorSecondaryText);
  font-weight: 400;
  font-size: .8rem;
  max-width: 80%;
}

/*Styling for landingKeywords and all elements flexed by it, the search bar, carHolder and all card elements*/
#landingKeywords {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 4px;
}

#searchBar {
  display: flex;
  justify-content: center;
}

#searchBar button {
  width: 15vw;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--colorPrimary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  float: left;
  box-shadow: var(--cardShadow);
}

#searchBar button:hover {
  background-color: var(--colorSecondaryText);
}

#searchBar input {
  width: 70vw;
  padding: 10px;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--colorHover);
  float: left;
  color: var(--colorPrimaryText);
  box-shadow: var(--cardShadow);
  font-size: 14px;
}

#searchBar input:focus {
  outline: 1px solid var(--colorSecondaryText);
}

#searchIcon {
  width: 1.6rem;
  height: 1.6rem;
}

#searchBar button,
#searchBar input {
  border: none;
  height: 54px;
}

/*Flexes card classes*/
#cardHolder {
  width: 90vw;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px;
}

#container #cardHolder .hidden {
  animation: fade-down 0.4s ease-out forwards;
}

#container #cardHolder .visible {
  animation: fade-up 0.4s ease-in forwards;
}

.card {
  width: 90vw;
  max-width: 340px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorCard);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.cardImage {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
  flex:1.5;
}

.cardTextContainer{
  flex: 2;
  border-radius: 0 0 15px 15px;
}

.cardTextContainer .cardTitle {
  font-size: 20px;
  padding: 0px 15px 0px 15px;
}

.cardTextContainer .cardDescription {
  text-align: left;
  font-size: 16px;
}

@keyframes fade-up {
  0%{
    opacity: 0;
    transform: translateY(280px) translateX(0px) scale(0.5);
  }

  100%{
    position:relative;
    opacity: 1;
    transform: translateY(0) translateX(0px) scale(1);
  }
}

@keyframes fade-down {
  0%{
    opacity: 1;
    transform: translateY(0) translateX(0px) scale(1);
  }


  99%{
    position: relative;
    transform: translateY(200px) translateX(0px) scale(0.7);
    opacity: 0;
  }
  100%{
    opacity: 0;
    position: absolute;
  }
 
  100%{
    opacity: 0;
    position: absolute;
  }
}

/*Media queries used for checking browser width, for responsive design*/
/*First media query is mainly for tablets/small screens*/
@media (min-width:769px) and (max-width:1024px) {
  #landingHeader {
    margin-top: 275px;
  }

  #landingHeader #landingHeaderTitle {
    width: 95vw;
    font-size: 36px;
  }

  #cardHolder {
    width: 97vw;
    gap: 40px;
  }
  

  .card {
    width: 250px;
  }

  .cardTextContainer .cardTitle {
    font-size: 18px;
  }

  .cardTextContainer .cardDescription {
    text-align: left;
    font-size: 14px;
  }

  #searchBar input {
    width: 480px;
    padding: 10px;
    font-size: 13px;
  }

  #searchBar button {
    width: 50px;
  }
}

/*Second media query is mainly for desktop and larger screens*/
@media (min-width:1025px) {
  #container {
    height: 100vh;
    color: var(--colorPrimaryText);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
  }

  #landingHeader {
    margin-top: 275px;
  }

  #landingHeader #landingHeaderTitle {
    width: 95vw;
    font-size: 36px;
  }

  #landingHeader p{
    color: var(--colorSecondaryText);
    font-weight: 400;
    font-size: .8rem;
    max-width: 80%;
  }

  #landingKeywords {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-bottom: 4px;
  }

  .card {
    width: 250px;
  }

  .cardTextContainer .cardTitle {
    font-size: 18px;
  }

  .cardTextContainer .cardDescription {
    text-align: left;
    font-size: 14px;
  }

  #searchBar input {
    width: 480px;
    padding: 10px;
    font-size: 13px;
  }

  #searchBar button {
    width: 50px;
  }

  #searchBar button,
  #searchBar input {
    height: 54px;
  }

  #cardHolder{
    gap: 40px;
  }
}