:root {
  --cardShadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  --colorPrimary: #f56b1d;
  --colorSecondary: #f56b1d;
  --colorBackground: #18191a;
  --colorCard: #242526;
  --colorCardTwo: #1d1d1d;
  --colorHover: #3a3b3c;
  --colorPrimaryText: #e4e6eb;
  --colorSecondaryText: #b0b3b8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  max-height: 100vh;
  max-width: 100vw;
}

/*When no media query is active, the style is made for mobile screenwidth*/
body {
  background-color: var(--colorBackground);
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

/*Flex landingHeader and landingKeywords*/
#container {
  height: 100%;
  color: var(--colorPrimaryText);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 200%;
}

/*Styling for landingHeader and all elements flexed by it, the name h1 and the paragraph below */
#landingHeader {
  /*Disable text selection for h1*/
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;

  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  
}

#landingHeaderTitleMTG {
  color: var(--colorPrimary);
}

/*Styling for both the paragraph below the header, and the card descriptions*/
#landingHeader p{
  color: var(--colorSecondaryText);
  font-weight: 400;
  font-size: .8rem;
}

/*Styling for landingKeywords and all elements flexed by it, the search bar, carHolder and all card elements*/
#landingKeywords {
  display: flex;
  flex-direction: column;
  
}

#searchBar {
  
}

::placeholder{
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#searchBar button {
  display: none;
}

#searchBar input {
  border: none;
  height: 72px;
  border-radius: 12px;
  background-color: var(--colorHover);
  color: var(--colorPrimaryText);
  box-shadow: var(--cardShadow);
  font-size: 14px;
}

#searchBar input:focus {
  outline: 1px solid var(--colorSecondaryText);
}

/*Flexes card classes*/
#cardHolder {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80%, max-content));
    grid-gap: 36px;
    justify-content: center;
}

#container #cardHolder .hidden {
  animation: fade-down 0.4s ease-out forwards;
}

#container #cardHolder .visible {
  animation: fade-up 0.4s ease-in forwards;
}

.card {
  aspect-ratio: 5 / 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorCard);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.cardImage {
  width: 100%;
  height: 40%;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
  flex:1.5;
}

.cardTextContainer{
  flex: 2;
  border-radius: 0 0 15px 15px;
}

.cardTextContainer .cardTitle {
  font-size: 20px;
}

.cardTextContainer .cardDescription {
  text-align: left;
  font-size: 16px;
}

@keyframes fade-up {
  0%{
    opacity: 0;
    transform: translateY(280px) translateX(0px) scale(0.5);
  }

  100%{
    position:relative;
    opacity: 1;
    transform: translateY(0) translateX(0px) scale(1);
  }
}

@keyframes fade-down {
  0%{
    opacity: 1;
    transform: translateY(0) translateX(0px) scale(1);
  }


  99%{
    position: relative;
    transform: translateY(200px) translateX(0px) scale(0.7);
    opacity: 0;
  }
  100%{
    opacity: 0;
    position: absolute;
  }
 
  100%{
    opacity: 0;
    position: absolute;
  }
}

/*Second media query is mainly for desktop and larger screens*/
@media (min-width:1025px) {
  #landingHeader {
    
  }

  #landingHeader #landingHeaderTitle {
    
  }

  /*Change cardHolder into gridlayout*/
  #cardHolder{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, max-content));
    grid-gap: 36px;
    justify-content: center;
  }

  

  #searchBar button {
    width: 50px;
    border-radius: 0 1rem 1rem 0;
    background-color: var(--colorPrimary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    float: left;
    box-shadow: var(--cardShadow);
  }

  #searchBar button{
    height: 72px;
  }

  #searchIcon {
    width: 1.6rem;
    height: 1.6rem;
  }
}