:root {
  --cardShadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  --colorPrimary: #f56b1d;
  --colorSecondary: #f78c4e;
  --colorBackground: #18191a;
  --colorCard: #242526;
  --colorCardTwo: #1d1d1d;
  --colorHover: #3a3b3c;
  --colorAutoComplete: #2c2d2e;
  --colorAutoCompleteBorder:rgb(176, 179, 184, 0.4);
  --colorPrimaryText: #e4e6eb;
  --colorSecondaryText: #b0b3b8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  max-height: 100vh;
  max-width: 100vw;
  overflow: auto;
  scroll-behavior: smooth;
}

body {
  background-color: var(--colorBackground);
  background-attachment: fixed;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

/*Flex landingHeader and landingKeywords*/
#container {
  width: 90%;
  color: var(--colorPrimaryText);
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  gap: 1rem;
}

/*Styling for landingHeader and all elements flexed by it, the name h1 and the paragraph below */
#landingHeader {
  /*Disable text selection for h1*/
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 2%;
}

#landingHeaderTitle {
  font-weight: 200;
  font-size: 2.5rem;
}

#landingHeaderTitleMTG {
  color: var(--colorPrimary);
  font-weight: 500;
}

/*Styling for landingKeywords and all elements flexed by it, the search bar, carHolder and all card elements*/
#landingKeywords {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#searchContainer {}

::placeholder {
  color: var(--colorSecondaryText);
  opacity: 0.6;
}

#landingKeywords .ui-autocomplete-input {
  width: 95%;
  max-width: 700px;
  border: none;
  height: 60px;
  max-height: 60px;
  border-radius: 12px;
  background-color: var(--colorHover);
  color: var(--colorPrimaryText);
  align-self: center;
  
}

#landingKeywords .ui-autocomplete-input,
#landingKeywords .ui-autocomplete-input,
::placeholder,
#ui-id-1{
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
}


#landingKeywords .ui-autocomplete-input,
::placeholder {
  padding: 1rem;
}

#landingKeywords .ui-autocomplete-input:focus {
  outline: none !important;
  border: 1px solid var(--colorAutoCompleteBorder);

}

#landingKeywords .ui-autocomplete-input button {
  display: none;
}

#container #landingKeywords .autoOpen {
  border-radius: 12px 12px 0px 0px;
  border-bottom: none;
}

#ui-id-1 {
  outline: none !important;
  border-bottom: 1px solid var(--colorAutoCompleteBorder);
  border-left: 1px solid var(--colorAutoCompleteBorder);
  border-right: 1px solid var(--colorAutoCompleteBorder);
  border-top: none;
  border-radius: 0px 0px 6px 6px;
}

.ui-menu-item-wrapper.ui-state-active {
  background-color: var(--colorHover);
  color: var(--colorPrimaryText);
  border-bottom: none;
  border-left: 1px solid var(--colorAutoCompleteBorder);
  border-right: none;
  border-top: none;
  font-weight: 300;
}

.ui-menu-item{
  font-weight: 300;
  width: 100%;
  border-radius: 0px 0px 6px 6px;
}

.ui-menu-item,
.ui-menu-item-wrapper.ui-state-active{
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 0px 6px 6px;
  width: 100%;
}

#ui-id-1,
.ui-menu-item {
  text-align: left;
  background-color: var(--colorAutoComplete);
  color: var(--colorSecondaryText);
}

/*Flexes card classes*/
#cardHolder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 290px));
  gap: 2rem;
  row-gap: 5rem;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: 100px;
}

.card {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;

  aspect-ratio: 5 / 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorCardTwo);
  border-radius: 15px;
  overflow: hidden;
  max-width: 290px;
  width: 100%;
  transition: box-shadow 300ms ease, transform 300ms ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* .card:hover{
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
} */

.cardImage {
  width: 100%;
  height: 40%;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
  flex: 1.5;
}

.cardTextContainer {
  flex: 2;
  border-radius: 0 0 15px 15px;
  max-width: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 5%;
  overflow: hidden;
}

.cardTextContainer .cardTitle {
  font-size: 1.75rem;
  color: var(--colorPrimaryText);
  font-weight: 500;
}

.cardTextContainer .cardDescription {
  font-size: 0.9rem;
  color: var(--colorSecondaryText);
  font-weight: 400;
}

.card.hidden {
  opacity: 0;
  position: absolute;
}

.card.visible {
  opacity: 1;
  position: relative;
}

#topBtn {
 opacity: 0;
}

/*Mobile and tablet*/
@media screen and (max-width: 1023px) {
  #topBtn {
    
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    z-index: 99;
    border: none;
    background-color: var(--colorPrimary);
    color: var(--colorBackground);
    border-radius: 100%;
    will-change: transform;
    transition: 0.2s ease-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    scale: 0.75;
  }

  #topBtn.visible{
    pointer-events: all;
    opacity: 1;
    
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
    scale: 1.7;
  }
}